@using System.Web.UI.WebControls
@using MVC_Apps.Controllers
@model MVC_Apps.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title"> <!--- dreprecated in new HTML5 specs-->
    <h1>@ViewBag.Title</h1>
</hgroup> 
<h2>Login</h2>

<section id="loginForm">
    <h2>Use a local account to log in</h2>
    @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Log in Form</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
        
        <p>
            @Html.ActionLink("Register","Register","Account")
        </p>
        
    }
</section>

<section class="social" id="socialLoginForm">
    
    <h2>Use another service to log in.</h2>
    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
